* { 
	box-sizing: border-box;
}

:root {
  --duration: 100s;
}

body {
	font-family: 'Oswald', sans-serif;
	padding-bottom: 5rem;
}

h1,
h2,
p {
	/* padding: 0 5%; */
}

h1 {
	line-height: 1.2em;
}

p {
	line-height: 1.4em;
	margin: 0 0 1.25em;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	max-width: 1000px;
	padding: 0 5%;
}

.heading {
	margin: 0;
}

.ticker-wrap {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
  	width: 100%;
  	overflow: hidden;
  	height: 4rem;
  	background-color: rgba(0, 0, 0, 0.9); 
  	padding-left: 100%;
  	box-sizing: content-box;
}

.ticker-wrap .ticker {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: var(--duration);
            animation-duration: var(--duration);
}

.ticker-wrap .ticker .ticker__item {
	display: inline-block;
    padding: 0 2rem;
    font-size: 2rem;
    color: #fff;   
}
